$indigo500: #3F51B5;

.list {

    .selectbox {
        margin: 1em 0;

        > * {
            display: inline-block;
        }

        .Select {
            width: 20em;
            margin-right: .5em;

            .Select-menu-outer {
                z-index: 1000;
            }
        }
    }
}

.list-item {
    margin: 1em;

    &:only-child {
        width: 100%;
        margin: 1em 0;
    }

    > *:first-child {
        @include card (2);
        min-width: 10em;
        min-height: 7em;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        width:100%;

        aside {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 50;

            button {
                @include card (1);
                width: 1.5em;
                height: 1.5em;
                padding: .25em;
                background: #fff;
                font-size: 1.25em;
                border-radius: 50%;
                margin: .5em .5em 0 0;
            }
        }
    }

    &.editor {
        display: block;
        background: none;
    }

    .img {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
    }
}

.collection-item {
    max-height: 9999px;
    max-width: 9999px;
    opacity: 1;
    transform: translateY(0);

    &-enter {
        max-width: 0;
        max-height: 0;
        opacity: 0;
        transform: translateY(4em);

        &-active {
            max-height: 9999px;
            max-width: 9999px;
            opacity: 1;
            transform: translateY(0);
            transition: all .4s;
        }
    }
    &-leave {
        max-width: 0;
        max-height: 0;
        opacity: 0;
        transform: translateY(4em);
        transition: all .4s;
    }
}
