//height: 85vh - 83% browser support
$INNER_WINDOW_HEIGHT: 85vh;
$MIN_INNER_WINDOW_HEIGHT:500px;
$MAIN_BACKGROUND_COLOR:#DDDDDD;
$SHADOW_COLOR:rgba(300,200,200,.6);
$MAIN_IMAGE_WIDTH: 30%;
$EDIT_AREA_WIDTH: 67%;
$LOADING_COLOR: #9eb3b1;
$REMOVE_BUTTON_SIZE:40px;