header {
    width: 100%;
    position: absolute;
    top: 0;
    //position: relative;
    margin: auto;
    //width: 60%;
    //border: 3px solid #73AD21;
    padding: 10px;
    z-index: 10000;
    #search>input {
        @include card (3);
        width:65%;
        padding: .5em 1em;
        font-size: 1.2em;
        display: block;
        position: relative;
        z-index: 10000;
        display:inline;
    }
    #search>button {
        @include card (3);
        width:30%;
        padding: .5em 1em;
        font-size: 1.2em;
        font-family: 'Times New Roman', Times, serif;
        display: block;
        display:inline;
        background-color: PINK;
    }

}
