header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10000;
    #search {
        @include card (3);
        width: calc(100% - 2em);
        max-width: 20em;
        padding: .5em 1em;
        font-size: 1.2em;
        display: block;
        margin: 2em auto;
    }

}
