header {

    width: 100%;
    position: absolute;
    top: 0;
    margin: auto;
    padding: 10px;
    z-index: 10000;
    #search>input {
        @include card (3);
        width:65%;
        min-width: 300px;
        padding: .5em 1em;
        font-size: 1.2em;
        position: relative;
        z-index: 10000;
        display:inline;
    }
    #search>button {
        @include card (3);
        width:30%;
        max-width: 150px;
        padding: .5em 1em;
        font-size: 1.2em;
        font-family: 'Times New Roman', Times, serif;
        display:inline;
        background-color: $MAIN_BACKGROUND_COLOR;
    }

}
