@import url(https://fonts.googleapis.com/css?family=Montserrat:400);/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/JedWatson/react-select
*/
.Select {
  position: relative; }

.Select,
.Select div,
.Select input,
.Select span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.Select.is-disabled > .Select-control {
  background-color: #f9f9f9; }

.Select.is-disabled > .Select-control:hover {
  box-shadow: none; }

.Select.is-disabled .Select-arrow-zone {
  cursor: default;
  pointer-events: none;
  opacity: 0.35; }

.Select-control {
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%; }

.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06); }

.Select-control .Select-input:focus {
  outline: none; }

.is-searchable.is-open > .Select-control {
  cursor: text; }

.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border-color: #b3b3b3 #ccc #d9d9d9; }

.is-open > .Select-control > .Select-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px; }

.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text; }

.is-focused:not(.is-open) > .Select-control {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1); }

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #333; }

.has-value.Select--single > .Select-control .Select-value a.Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none; }

.has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
  color: #007eff;
  outline: none;
  text-decoration: underline; }

.Select-input {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle; }

.Select-input > input {
  width: 100%;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  line-height: 14px;
  /* For IE 8 compatibility */
  padding: 8px 0 12px;
  /* For IE 8 compatibility */
  -webkit-appearance: none; }

.is-focused .Select-input > input {
  cursor: text; }

.has-value.is-pseudo-focused .Select-input {
  opacity: 0; }

.Select-control:not(.is-searchable) > .Select-input {
  outline: none; }

.Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px; }

.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-right-color: #333;
  display: inline-block;
  position: relative;
  vertical-align: middle; }

.Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 200ms;
  -o-animation: Select-animation-fadeIn 200ms;
  animation: Select-animation-fadeIn 200ms;
  color: #999;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 17px; }

.Select-clear-zone:hover {
  color: #D0021B; }

.Select-clear {
  display: inline-block;
  font-size: 18px;
  line-height: 1; }

.Select--multi .Select-clear-zone {
  width: 17px; }

.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px; }

.Select-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0; }

.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #666; }

.Select--multi .Select-multi-value-wrapper {
  display: inline-block; }

.Select .Select-aria-only {
  display: inline-block;
  height: 1px;
  width: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden; }

@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes Select-animation-fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch; }

.Select-menu {
  max-height: 198px;
  overflow-y: auto; }

.Select-option {
  box-sizing: border-box;
  background-color: #fff;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px; }

.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }

.Select-option.is-selected {
  background-color: #f5faff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.04);
  color: #333; }

.Select-option.is-focused {
  background-color: #ebf5ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  color: #333; }

.Select-option.is-disabled {
  color: #cccccc;
  cursor: default; }

.Select-noresults {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px; }

.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0; }

.Select--multi.has-value .Select-input {
  margin-left: 5px; }

.Select--multi .Select-value {
  background-color: #ebf5ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  border-radius: 2px;
  border: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border: 1px solid rgba(0, 126, 255, 0.24);
  color: #007eff;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top; }

.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle; }

.Select--multi .Select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px; }

.Select--multi a.Select-value-label {
  color: #007eff;
  cursor: pointer;
  text-decoration: none; }

.Select--multi a.Select-value-label:hover {
  text-decoration: underline; }

.Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border-right: 1px solid rgba(0, 126, 255, 0.24);
  padding: 1px 5px 3px; }

.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
  background-color: #d8eafd;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 113, 230, 0.08);
  color: #0071e6; }

.Select--multi .Select-value-icon:active {
  background-color: #c2e0ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.24); }

.Select--multi.is-disabled .Select-value {
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
  color: #333; }

.Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 1px solid #e3e3e3; }

.Select--multi.is-disabled .Select-value-icon:hover,
.Select--multi.is-disabled .Select-value-icon:focus,
.Select--multi.is-disabled .Select-value-icon:active {
  background-color: #fcfcfc; }

@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn); } }

@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn); } }
input, button {
  padding: 0;
  font: inherit;
  outline: none;
  border: none;
  margin: 0; }

button {
  cursor: pointer; }

.list-item {
  display: inline-block;
  position: relative; }

.md-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

header {
  width: 100%;
  position: absolute;
  top: 0;
  margin: auto;
  padding: 10px;
  z-index: 10000; }
  header #search > input {
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    border-radius: .125em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow .25s;
    width: 65%;
    min-width: 300px;
    padding: .5em 1em;
    font-size: 1.2em;
    position: relative;
    z-index: 10000;
    display: inline; }
    header #search > input:hover, header #search > input:focus {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23); }
  header #search > button {
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    border-radius: .125em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow .25s;
    width: 30%;
    max-width: 150px;
    padding: .5em 1em;
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    display: inline;
    background-color: #DDDDDD; }
    header #search > button:hover, header #search > button:focus {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23); }

.list .selectbox {
  margin: 1em 0; }
  .list .selectbox #hide-me-please > * {
    display: inline-block; }
  .list .selectbox #hide-me-please .Select {
    width: 20em;
    margin-right: .5em; }
    .list .selectbox #hide-me-please .Select .Select-menu-outer {
      z-index: 1000; }

.list-item {
  margin: 1em; }
  .list-item:only-child {
    width: 100%;
    margin: 1em 0; }
  .list-item > *:first-child {
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    border-radius: .125em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: box-shadow .25s;
    min-width: 10em;
    min-height: 7em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    width: 100%; }
    .list-item > *:first-child:hover, .list-item > *:first-child:focus {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }
    .list-item > *:first-child aside {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 50; }
      .list-item > *:first-child aside button {
        padding: 0;
        overflow: hidden;
        background-color: #fff;
        border-radius: .125em;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
        transition: box-shadow .25s;
        width: 1.5em;
        height: 1.5em;
        padding: .25em;
        background: #fff;
        font-size: 1.25em;
        border-radius: 50%;
        margin: .5em .5em 0 0; }
        .list-item > *:first-child aside button:hover, .list-item > *:first-child aside button:focus {
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24); }
  .list-item.editor {
    display: block;
    background: none; }
  .list-item .img {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute; }

.collection-item {
  max-height: 9999px;
  max-width: 9999px;
  opacity: 1;
  transform: translateY(0); }
  .collection-item-enter {
    max-width: 0;
    max-height: 0;
    opacity: 0;
    transform: translateY(4em); }
    .collection-item-enter-active {
      max-height: 9999px;
      max-width: 9999px;
      opacity: 1;
      transform: translateY(0);
      transition: all .4s; }
  .collection-item-leave {
    max-width: 0;
    max-height: 0;
    opacity: 0;
    transform: translateY(4em);
    transition: all .4s; }

div[data-reactroot] > .list {
  column-count: 3; }
  div[data-reactroot] > .list.selected {
    column-count: 1; }
    div[data-reactroot] > .list.selected > .list-item > *:first-child {
      display: inline-block;
      cursor: auto;
      width: 30%;
      min-height: 500px;
      height: 85vh; }
      div[data-reactroot] > .list.selected > .list-item > *:first-child > img {
        width: 100%;
        max-width: 800px; }
    div[data-reactroot] > .list.selected > .list-item > div:nth-child(2) {
      padding: 0;
      overflow: hidden;
      background-color: #3F51B5;
      border-radius: .125em;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
      transition: box-shadow .25s;
      height: 85vh;
      min-height: 500px;
      overflow-y: auto;
      float: right;
      width: 67%;
      background-color: #DDDDDD;
      border-radius: 5px;
      margin-left: 3%; }
      div[data-reactroot] > .list.selected > .list-item > div:nth-child(2):hover, div[data-reactroot] > .list.selected > .list-item > div:nth-child(2):focus {
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23); }
      div[data-reactroot] > .list.selected > .list-item > div:nth-child(2) > div {
        width: 100%;
        background-color: 'WHITE';
        border-radius: '10px';
        border-color: 'GREY';
        border-style: 'solid';
        border-width: '3px'; }
    div[data-reactroot] > .list.selected > .list-item:not(.selected) {
      display: none; }
  div[data-reactroot] > .list > .list-item {
    width: 100%;
    min-height: 0;
    margin: 0 1em 1em 0;
    display: block; }
    div[data-reactroot] > .list > .list-item > div {
      display: block; }
      div[data-reactroot] > .list > .list-item > div > img {
        width: 100%; }

.raised {
  padding: 0;
  overflow: hidden;
  background-color: #3F51B5;
  border-radius: .125em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow .25s;
  color: white;
  text-transform: uppercase;
  min-width: 6em;
  padding: .5em 1em;
  transform: translateY(-0.75em); }
  .raised:hover, .raised:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }

.list-item.people {
  width: 94%;
  margin: 3%; }
  .list-item.people .gender {
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-radius: .125em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: box-shadow .25s;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 1em; }
    .list-item.people .gender:hover, .list-item.people .gender:focus {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }
    .list-item.people .gender > div {
      margin-left: 1em; }

.list-item.items {
  margin: 0px;
  width: 100%; }
  .list-item.items > div {
    width: 100%; }

.add-item {
  padding: 0;
  overflow: hidden;
  background-color: white;
  border-radius: .125em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow .25s;
  min-width: 10em;
  min-height: 7em;
  width: 100%; }
  .add-item:hover, .add-item:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }

.add-result {
  min-width: 10em;
  min-height: 7em;
  width: 100%;
  margin-top: 1em;
  border-radius: '10px';
  border-color: 'GREY';
  border-style: 'solid';
  border-width: '3px';
  align-items: center; }
  .add-result i {
    max-width: 15px; }

.hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute; }

.gray-frame {
  padding: 0;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25); }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

#reference {
  max-width: 20em;
  position: absolute;
  width: 40%;
  right: 0px;
  z-index: 1000; }

#login {
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  border-radius: .125em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  transition: box-shadow .25s;
  max-width: 17.5em;
  margin: auto;
  padding: 1em;
  position: absolute;
  top: 2em;
  left: 0;
  right: 0;
  margin: auto; }
  #login:hover, #login:focus {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24); }
  #login img {
    width: 10em;
    display: block;
    margin: 2em auto 3em; }
  #login input {
    width: calc(100% - 1em);
    padding: .5em;
    font-size: 1.2em;
    display: block;
    margin: 0 auto .5em;
    border-bottom: 2px solid black; }
    #login input:focus {
      border-bottom-size: 3px; }
  #login button {
    width: 100%;
    padding: 1em 0;
    text-transform: uppercase;
    background: black;
    color: white; }

.result-form {
  padding: 0;
  overflow: hidden;
  background-color: white;
  border-radius: .125em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow .25s;
  margin-top: 1em;
  text-align: center;
  width: 100%; }
  .result-form label {
    display: block;
    margin: .5em 0; }
  .result-form input {
    width: 80%;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 8%;
    padding-right: 8%;
    font: inherit;
    background: #eee;
    border-bottom: 2px solid grey; }
  .result-form .raised {
    background-color: black;
    border-radius: '10px';
    border-color: 'GREY';
    border-style: 'solid';
    border-width: '3px';
    margin: 1em 0;
    transform: translateY(0); }

.sb_list {
  width: 400px;
  height: 600px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border: 1px solid #999; }

.sb_item {
  position: relative;
  border-bottom: 1px solid #999; }

.sb_stylizedList {
  position: relative;
  z-index: 0;
  background-color: #F3F3F3;
  border: 1px solid #EFEFEF;
  border-radius: 3px;
  outline: none; }

.sb_stylizedItem {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  background-color: #FFF;
  border-bottom: 1px solid #EFEFEF;
  box-sizing: border-box;
  user-select: none;
  color: #333;
  font-weight: 400; }
  .sb_stylizedItem .img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute; }

.sb_handle {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"><path d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 L 0 7.5 z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 L 0 22.5 z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 L 0 37.5 z" color="#000"></path></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.25;
  margin-right: 20px;
  cursor: row-resize; }

.sb_grid {
  display: block;
  width: 520px;
  height: 350px;
  white-space: nowrap;
  border: 0;
  background-color: transparent; }

.sb_gridItem {
  float: left;
  width: 130px;
  padding: 8px;
  background: transparent;
  border: 0; }
  .sb_gridItem .sb_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #FFF;
    border: 1px solid #EFEFEF;
    font-size: 28px; }
    .sb_gridItem .sb_wrapper span {
      display: none; }

.sb_stylizedHelper {
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2), 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
  cursor: row-resize; }
  .sb_stylizedHelper.sb_horizontalItem {
    cursor: col-resize; }
  .sb_stylizedHelper.sb_gridItem {
    background-color: transparent;
    white-space: nowrap;
    box-shadow: none; }
    .sb_stylizedHelper.sb_gridItem .sb_wrapper {
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.15); }

.sb_shrinkedHelper {
  height: 20px !important; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #f9f9f9;
  margin-top: 8em; }

/*# sourceMappingURL=main.css.map*/