input, button {
  padding: 0;
  font: inherit;
  outline: none;
  border: none;
  margin: 0; }

button {
  cursor: pointer; }

ul {
  padding: 0;
  list-style: none;
  margin: 0; }

li {
  display: inline-block;
  position: relative; }

.md-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10000; }
  header #search {
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    border-radius: .125em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow .25s;
    width: calc(100% - 2em);
    max-width: 20em;
    padding: .5em 1em;
    font-size: 1.2em;
    display: block;
    margin: 2em auto; }
    header #search:hover, header #search:focus {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23); }

ul li {
  overflow: hidden;
  margin: 1em; }
  ul li > *:first-child {
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    border-radius: .125em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: box-shadow .25s;
    min-width: 10em;
    min-height: 10em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer; }
    ul li > *:first-child:hover, ul li > *:first-child:focus {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }
    ul li > *:first-child aside {
      position: absolute;
      top: 0;
      right: 0; }
      ul li > *:first-child aside button {
        padding: 0;
        overflow: hidden;
        background-color: #fff;
        border-radius: .125em;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
        transition: box-shadow .25s;
        width: 1.5em;
        height: 1.5em;
        padding: .25em;
        background: #fff;
        font-size: 1.25em;
        border-radius: 50%;
        margin: .5em .5em 0 0; }
        ul li > *:first-child aside button:hover, ul li > *:first-child aside button:focus {
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24); }
  ul li.editor {
    display: block;
    background: none; }
  ul li img {
    max-width: 100%; }

.collection-item-enter {
  max-width: 0;
  max-height: 0;
  opacity: 0;
  transform: translateY(4em); }
  .collection-item-enter-active {
    max-height: 9999px;
    max-width: 9999px;
    opacity: 1;
    transform: translateY(0em);
    transition: all .4s; }

.collection-item-leave {
  max-height: 9999px;
  max-width: 9999px;
  opacity: 1;
  transform: translateY(0em); }
  .collection-item-leave-active {
    max-width: 0;
    max-height: 0;
    opacity: 0;
    transform: translateY(4em);
    transition: all .4s; }

div[data-reactroot] > ul {
  display: flex;
  flex-wrap: wrap;
  max-width: calc(100% - 22em); }
  div[data-reactroot] > ul > li {
    min-height: 0;
    margin: 0 1em 1em 0; }
    div[data-reactroot] > ul > li > span {
      overflow: hidden;
      margin: auto; }
      div[data-reactroot] > ul > li > span > img {
        max-width: 30em;
        max-height: 30em; }

#reference {
  max-width: 20em;
  position: fixed;
  top: 8em;
  right: 1em;
  z-index: 1000; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #f9f9f9;
  margin-top: 8em; }

/*# sourceMappingURL=main.css.map*/