@import 'reset';
@import 'md-icon';
@import 'card';
@import 'header';
@import 'collection';
@import 'elements';
@import 'reference';
@import 'grid';
@import 'login';
@import 'results';
@import 'storybook';

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #f9f9f9;
    margin-top: 8em;
}
