input, button {
    padding: 0;
    font: inherit;
    outline: none;
    border: none;
    margin: 0;
}

button {
    cursor: pointer;
}

.list-item {
    display: inline-block;
    position: relative;
}
