@mixin result-card ($elevation, $background: #fff){
        background-color: 'WHITE';
        border-radius: '10px';
        border-color: 'GREY';
        border-style: 'solid';
        border-width: '3px';

}